<div class="row admin-page analyzer-template-page">
    <div class="col-md-12">
        <div class="box admin-box analyzer-template-box">

            <div class="box-header admin-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="box-title admin-title">
                            <i class="fa fa-file-text"></i>
                            Analyzer Template Management
                        </h3>
                        <p class="admin-subtitle">
                            Manage analyzer templates and official report template archives
                        </p>
                    </div>

                    <div class="col-sm-4 text-right">
                        <span class="label label-primary admin-count">
                            {{vm.analyzerCount || 0}} Templates
                        </span>
                    </div>
                </div>
            </div>

            <div class="box-body admin-body">

                <div class="admin-toolbar clearfix">
                    <div class="pull-left admin-actions">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.import()">
                            <span class="fa fa-upload"></span>
                            Import Templates
                        </button>
                    </div>
                </div>

                <div class="admin-filter-panel analyzer-download-card">
                    <h4 class="admin-section-title">
                        <i class="fa fa-download"></i>
                        Download the official templates archive
                    </h4>

                    <p class="admin-description">
                        You can download the latest archive of the official analyzer templates
                        <a class="admin-link" target="_blank"
                            href="http://download.cynox-project.org/report-templates.zip?version={{vm.appConfig.versions.Cynox}}">
                            from here
                        </a>
                    </p>
                </div>

                <div class="row mv-s" ng-show="vm.analyzerCount === 0">
                    <div class="col-md-12">
                        <div class="admin-empty">
                            <i class="fa fa-info-circle"></i>
                            No analyzer templates found.
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="vm.analyzerCount > 0">
                    <div class="col-md-12">

                        <div class="table-responsive admin-table-card">
                            <table class="table table-hover admin-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-file-text-o"></i>
                                            Name
                                        </th>

                                        <th width="230px" class="text-right">
                                            Long Template
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="admin-row"
                                        ng-repeat="analyzerId in vm.analyzerIds | orderBy:'toString()'"
                                        ng-init="analyzer=vm.analyzers[analyzerId]">

                                        <td>
                                            <div class="admin-name">
                                                <i class="fa fa-cube"></i>
                                                {{::analyzer.name || analyzer.id}}
                                            </div>

                                            <div class="admin-description">
                                                {{::analyzer.description || 'No description'}}
                                            </div>
                                        </td>

                                        <td class="text-right vmiddle admin-actions">
                                            <div class="btn-group btn-group-sm" ng-if="analyzer.template.id">
                                                <button type="button" class="btn btn-primary"
                                                    ng-click="vm.showTemplate(vm.analyzers[analyzerId])">
                                                    <i class="fa fa-eye"></i>
                                                    View Template
                                                </button>

                                                <button type="button" class="btn btn-danger"
                                                    ng-click="vm.deleteTemplate(analyzer.template)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>

                                            <div class="btn-group btn-group-sm" ng-if="!analyzer.template.id">
                                                <button type="button" class="btn btn-default analyzer-default-btn"
                                                    ng-click="vm.showTemplate(analyzer)">
                                                    <i class="fa fa-file-o"></i>
                                                    Default Template
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>