<form class="form-horizontal cynox-org-modal cynox-custom-field-modal" name="fieldsForm"
    ng-submit="$vm.saveField(fieldsForm)" novalidate>

    <div class="modal-header cynox-org-modal-header">
        <button type="button" class="close cynox-org-modal-close" ng-click="$vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="cynox-org-modal-icon">
            <i class="fa fa-edit"></i>
        </div>

        <div>
            <h3 class="modal-title cynox-org-modal-title">
                {{$vm.customField.id ? 'Update' : 'Add'}} Custom Field
            </h3>
            <p class="cynox-org-modal-subtitle">
                Configure custom field details, type and possible values
            </p>
        </div>
    </div>

    <div class="modal-body cynox-org-modal-body">

        <div class="cynox-org-info-box">
            <i class="fa fa-info-circle"></i>
            <span>
                Add a custom field for cases. Fields marked with
                <i class="fa fa-asterisk text-danger"></i>
                are required.
            </span>
        </div>

        <div class="form-group cynox-org-form-group"
            ng-class="{ 'has-error' : fieldsForm.name.$invalid && !fieldsForm.name.$pristine }">

            <label class="col-sm-3 control-label cynox-org-label">
                Name
                <i class="fa fa-asterisk text-danger"></i>
            </label>

            <div class="col-sm-9">
                <div class="input-group cynox-org-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-font"></i>
                    </span>

                    <input class="form-control cynox-org-input" name="name"
                        placeholder="Field's display name, Ex: CVSS, Threat actor, Business risk"
                        ng-model="$vm.customField.name" ng-keyup="$vm.onNamechanged(fieldsForm)" required type="text">
                </div>

                <p class="help-block" ng-show="fieldsForm.name.$invalid && !fieldsForm.name.$pristine">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group cynox-org-form-group"
            ng-class="{ 'has-error' : fieldsForm.reference.$invalid && fieldsForm.reference.$dirty }">

            <label class="col-sm-3 control-label cynox-org-label">
                Internal Reference
                <i class="fa fa-asterisk text-danger"></i>
            </label>

            <div class="col-sm-9">
                <div class="input-group cynox-org-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-code"></i>
                    </span>

                    <input class="form-control cynox-org-input" name="reference" type="text"
                        placeholder="Internal name, Ex: cvss, threatActor, businessRisk"
                        ng-model="$vm.customField.reference" ng-keyup="$vm.clearUniqueNameError(fieldsForm)"
                        ng-pattern="$vm.config.referencePattern" ng-readonly="!!$vm.customField.id" required>
                </div>

                <p class="help-block" ng-show="fieldsForm.reference.$error.unique">
                    There is already a field with this reference. It should be unique.
                </p>

                <p class="help-block" ng-show="fieldsForm.reference.$error.required && fieldsForm.reference.$dirty">
                    This field is required.
                </p>

                <p class="help-block" ng-show="fieldsForm.reference.$error.pattern && fieldsForm.reference.$dirty">
                    This field should satisfy the following pattern: {{$vm.config.referencePattern}}
                </p>
            </div>
        </div>

        <div class="form-group cynox-org-form-group"
            ng-class="{ 'has-error' : fieldsForm.description.$invalid && !fieldsForm.description.$pristine }">

            <label class="col-sm-3 control-label cynox-org-label">
                Description
                <i class="fa fa-asterisk text-danger"></i>
            </label>

            <div class="col-sm-9">
                <div class="input-group cynox-org-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-align-left"></i>
                    </span>

                    <input class="form-control cynox-org-input" name="description"
                        ng-model="$vm.customField.description" placeholder="A brief description of the custom field"
                        required type="text">
                </div>

                <p class="help-block" ng-show="fieldsForm.description.$invalid && !fieldsForm.description.$pristine">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group cynox-org-form-group"
            ng-class="{ 'has-error' : fieldsForm.type.$invalid && !fieldsForm.type.$pristine }">

            <label class="col-sm-3 control-label cynox-org-label">
                Type
                <i class="fa fa-asterisk text-danger"></i>
            </label>

            <div class="col-sm-9">
                <div class="input-group cynox-org-input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-list"></i>
                    </span>

                    <select class="form-control cynox-org-input cynox-custom-select" name="type"
                        ng-model="$vm.customField.type" ng-options="fieldType for fieldType in $vm.config.types"
                        placeholder="Field's type" required>
                    </select>
                </div>

                <p class="help-block" ng-show="fieldsForm.type.$invalid && !fieldsForm.type.$pristine">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group cynox-org-form-group"
            ng-show="$vm.customField.type === 'string' || $vm.customField.type === 'integer'  || $vm.customField.type === 'float'">

            <label class="col-sm-3 control-label cynox-org-label">
                Possible values
            </label>

            <div class="col-sm-9">
                <textarea class="form-control cynox-custom-textarea" name="options" ng-model="$vm.customField.options"
                    rows="5" placeholder="Possible values, one per line" type="text">
                </textarea>

                <p class="help-block cynox-custom-hint">
                    Add one value per line. This is optional.
                </p>
            </div>
        </div>

        <div class="form-group cynox-org-form-group">
            <label class="col-sm-3 control-label cynox-org-label">&nbsp;</label>

            <div class="col-sm-9">
                <div class="cynox-custom-checkbox">
                    <label>
                        <input name="mandatory" type="checkbox" ng-model="$vm.customField.mandatory">
                        <span>
                            Is mandatory
                        </span>
                    </label>
                    <p class="help-block">
                        Enable this if users must fill this field before saving.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer cynox-org-modal-footer">
        <button class="btn cynox-org-cancel-btn pull-left" ng-click="$vm.cancel()" type="button">
            <i class="fa fa-times"></i>
            Cancel
        </button>

        <span class="cynox-org-required-text pull-left">
            <i class="fa fa-asterisk text-danger"></i>
            Required field
        </span>

        <button class="btn cynox-org-save-btn pull-right" ng-disabled="fieldsForm.$invalid" type="submit">
            <i class="fa fa-save"></i>
            Save Field
        </button>
    </div>
</form>